
/* the basics */
body {
  font: normal 12px/1.61em "Lucida Grande","Lucida Sans",Verdana,Arial,Helvetica,sans-serif,sans;
  background: white;
  color: #333333;
  margin-top: 8px;
}

strong, b {
  font-weight: bold;
}

p {
  margin-bottom: 0.8em;
}

em {
  font-style: italic;
}

blockquote {
  margin: 1em;
  padding-left: 0.5em;
  border-left: 3px double #333333;
}

td {
  padding-right: 0.5em;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 1em 0;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 1em 0;
}

/* ie6 special */
ul.menu li {
  list-style-position: inside;
}
  
legend {
  padding: 0 0 0 0;
  font-weight: bold;
}

fieldset {
  border-left: 1px solid #333333;
  padding-left: 8px;
  background: transparent url(parts/fieldset-top.gif) no-repeat scroll 0 0;
}

fieldset > legend {
  padding-top: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: normal;
  margin-bottom: 0.6em;
}
 
h1 {
  font-size: 218%;
}

h2 {
  font-size: 164%;
}

h3 {
  font-size: 145%;
}

h4 {
  font-size: 118%;
}

a {
  color: #307040;
  text-decoration: none;
  border-bottom: 1px dotted #606060;
}

a:visited {
  color: #106030;
}

a:hover {
  color: #106030;
  border-bottom-style: solid;
}

a.noborder:hover {
  color: #106030;
  border-bottom-style: none;
}

#footer {
  text-align: center;
  background: transparent url(parts/bottom-border.png) no-repeat scroll 50% 0;
  padding-top: 22px;
}

div.messages {
  background-color: #f0fff0;
  border: 1px dotted #333333;
  margin: 1em;
  padding: 0.5em;
}


/* ************************************************************************
  style classes */
.noborder {
  border: none;
  text-decoration: none;
}

.more-link {
	font-style: italic;
}

.block ul {
		padding-left: 0;
}
.block ul.menu {
	list-style-position: inside;
}
tr.even, tr.odd {
  background-color:transparent;
  border-bottom:1px solid #CCCCCC;
  padding: 2px 0;
}
tr.odd {
  background-color: #f4f4f4;
}
tbody tr:hover {
	background-color: #E0ECD9;
}

form#user-login-form {
	text-align: left;
}

#switchtheme-switch-form div.form-item {
	float: none;
}

input.form-submit {
	padding: 0.3em 1em;
	border: 1px solid #888888;
	background-color: #e0eCd9;
	margin: 0.3em 0;
	font: normal 95%/100% Tahoma,Verdana,Arial,sans;
}

input.form-submit:hover {
  background-color: #d0dCc9;
}
	
/* ************************************************************************
  header */
span.homename {
	font: normal 436%/100% Georgia, Times, serif;
	color: #333333;
	letter-spacing: 2px;
}
span.homeslogan {
	font-size: 118%;
  color: #555555;
}
	
/* ************************************************************************
	right sidebars */

#mission {
	margin-bottom: 2em;
	padding: 1em;
	border: 1px dotted #b0b0b0;
	background-color: #F4F4F4;
}

#fullright h2 {
  
}

#right h2, #left h2 {
  font-size: 145%;
}
#l_midright div.block {
	margin-bottom: 1em;
}

#fullright div.block {
  margin-bottom: 1em;
}

/* ************************************************************************
  footer areas */
#l_bottom h2 {
  font-size: 118%;
  padding: 6px 0;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
}
	
div.themeauthor {
	font-size: 80%;
	font-style: italic;
	margin-bottom: 0.5em;
	text-align: right;
}
div.themeauthor a {
	color: #333333;
	border: none;
}

/* ************************************************************************
  content area */
div.zacTeaser {
	margin-bottom: 5em;
}
div.zacTeaser h1 {
	font-size: 145%;
	font-variant: small-caps;
}
div.zacTeaser h2 {
	font-size: 145%;
}
#content ul.links li.first {
	background: transparent url(parts/arrow_dash_right.gif) no-repeat scroll 0 50%;
	padding-left: 24px;
}

div.zacTeaser div.meta {
  background: transparent url(parts/checkbox.gif) no-repeat scroll 0 50%;
  padding-left: 16px;
  font-size: 80%;
}

div.node div.picture {
	float: left;
	margin: 0 1em 1em 0;
  background-color: #f4f4f4;
  padding: 2px;
}

div.node div.picture a {
  text-decoration: none;
  border: none;
}

div.zacTeaser div.content {
	clear: left;
}

div.node div.meta div.terms {
	padding-left: 16px;
}

div.zacPage div.meta {
	margin-bottom: 1em;
  font-size: 80%;
}

div.zacPage div.meta span.submitted {
  background: transparent url(parts/checkbox.gif) no-repeat scroll 0 50%;
  padding-left: 16px;
}

div.zacPage div.meta div.terms-inline {
  display: block;
}

#forum ul.links {
	margin: 1em 0;
}

#forum td.topics {
	background-color: #f4f5f4;
}
#forum tr.odd {
  background-color: transparent;
}

#forum tbody tr:hover {
  background-color: #E0ECD9;
}

/* forum navigation */
div.forum-topic-navigation a {
  border: none;
}

/* book navigation */
div.page-links a.page-previous {
  padding: 18px 0 0 0;
  background: transparent url(parts/arrow_fat_left.gif) no-repeat scroll 0 0;
  border: none;
}

div.page-links a.page-next {
  padding: 18px 0 0 0;
  background: transparent url(parts/arrow_fat_right.gif) no-repeat scroll 100% 0;
  border: none;
}

div.page-links a.page-up {
  padding: 18px 0 0 0;
  background: transparent url(parts/arrow_fat_up.gif) no-repeat scroll 50% 0;
  border: none;
}

div.page-links {
	margin: 1em 0;
}

.book-navigation .page-links {
	border-bottom: 3px double #c0c0c0;
  border-top: 1px solid #808080;
}

/* ************************************************************************
   comments */
#comments > div.comment {
  border-top:6px double #c0c0c0;
  margin-top:24px;
  padding-top:16px;
}

div.comment {
  margin-top: 1.5em;
}

div.comment .submitted, div.comment .cid {
  font-size: 12px;
  padding-right: 2em;
} 
div.comment div.meta {
  float:left;
}

div.comment div.meta div.picture a {
  border: none;
}

div.comment span.submitted {
  background: transparent url(parts/checkbox.gif) no-repeat scroll 0 50%;
  padding-left: 16px;
  font-size: 80%;
}

div.comment div.content {
  margin-left: 108px;
}
/* poll */
.poll .vote-form .choices {
  margin: 0 0;
}

.poll .vote-form {
  text-align: left;
}

.poll .title {
  margin-bottom: 0.5em;
}
.poll .vote-form .choices .title {
  font-weight: normal;
}
.poll .vote-form input.form-submit {
  margin-bottom: 0.5em;
}

.poll .bar .foreground {
  background: transparent url(parts/poll-filled.png) repeat-x;
}

.poll .bar {
  background: transparent url(parts/poll-empty.png) repeat-x;
  height: 15px;
}

.poll .bar .foreground {
  height: 15px;
  border-left: 1px solid #c0c0c0;
}

/* ************************************************************************
	prim menu */
ul#primmenu {
  display: block;
  text-align: right;
  padding-top: 3em;
}

ul#primmenu li {
  display: inline;
  padding: 3em 2em 0.5em 0.8em;
  background-color: #333333;
  margin-left: 2px;
}

ul#primmenu li:hover {
  background-color: #667766;
}
	
ul#primmenu li a {
  font-size: 145%;
  color: white;
  text-decoration: none;
  border: none;
  padding-right: 0em;
}

ul#primmenu li.active-trail {
  background-color: #667766;
}


/* ************************************************************************
   anwalt main page */
div.node-anwalt div.illustration img {
  width: 300px;
  float: left;
  margin: 4px 16px 16px 0;
  padding: 1px;
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
}

div.node-anwalt ul {
list-style-image:none;
list-style-position:inside;
list-style-type:square;
}

