
/**
* @file
* Fix some style for buggy ie6 browser.
*
* IE6: die die die!
*/

/* change some widths */
div#sizeframe {
  width: 964px;
}

#l_midright {
  width: 320px;
}

#right {
  margin-right: 0px;
}