
/* About the regions */
body {
  text-align: center;
}

#sizeframe {
  width: 960px;
  text-align: left;
  margin: 0 auto;
}

#l_top {
  position: relative;
}

#c_sitelogo {
    float: left;
}

#c_topright {
	position: relative;
	margin-left: 320px;
}

#shinyhead {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	background: transparent url(parts/shinyhead.png) repeat;
}

#c_logobottom {
}
  
#l_mid {
  padding-top: 24px;
}

#l_midleft {
  float: left;
}

#content_top {
}

#content {
}

#content_bottom {
}

#content_left {
  float: left;
}

#content_right {
  margin-left: 320px;
}

#l_midright {
  margin-left: 640px;
}

#fullright {
}

#right {
  margin-left: 160px;
}

#left {
	float: left;
}

#l_bottom {
  padding-top:2em;
}

#footer_left, #footer_center, #footer_right {
  float: left;
}

#footer-msg {
	clear: both;
}

/* Classes about the boxing and floats */
.l_mr {
  margin-right: 16px;
}

.l_mb {
  margin-bottom: 16px;
}

.l_w1 {
  width: 144px;
}

.l_w2 {
  width: 304px;
}

.l_w3 {
  width: 624px;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cb {
  clear: both;
}


